<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
        </button>
      
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
      </button>

      </mat-card-actions>
    </mat-card>
   </div>

   <div fxFlex="40" *ngIf="dish">
     <mat-list>
       <div>
      <h2>Comments</h2>
    </div>
      <mat-list-item *ngFor="let comment of dish.comments">
        <h4 matLine><strong>{{comment.comment}}</strong></h4>
        <h5 matLine>{{comment.rating}} stars</h5>
        <h5 matLine>-- {{comment.author}} {{comment.date | date}}</h5>
      </mat-list-item>
      <div [hidden]="isFormNotValid()">
      <mat-list-item >
        <h5 matLine> *** Preview *** </h5>
        <h4 matLine><strong>{{commentForm.value['comment']}}</strong></h4>
        <h5 matLine>{{commentForm.value['rating']}} stars</h5>
        <h5 matLine>-- {{commentForm.value['author']}}</h5>
      </mat-list-item>
    </div>
   </mat-list>
   <div>
    <h2>Leave  Your Own Comment on this Dish!</h2>
    <!--
    <p>{{commentForm.value | json}} {{commentForm.status | json}}</p>
    -->
  </div>

   <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">
              {{formErrors.author}}
            </mat-error>
        </mat-form-field>     
       </p>
       <p>
         
          <mat-slider matInput min="1" max="5" step="1" value="5" 
              thumbLabel tickInterval="1" formControlName="rating"
              pattern="[1-5]">
              <mat-error *ngIf="formErrors.rating">
                {{formErrors.rating}}
              </mat-error>
    
          </mat-slider>
         
       </p>
       <p>
         <mat-form-field class="full-width">
           <textarea matInput formControlName="comment" placeholder="Your Comment" rows=5>
           </textarea>
           <mat-error *ngIf="formErrors.comment">
            {{formErrors.comment}}
          </mat-error>

        </mat-form-field>
      </p>   
      <button type="button"  
              class="background-primary text-floral-white"
              (click)="onSubmit()"
              [disabled]="commentForm.invalid"
        >Submit</button>

   </form>
   </div>
   <div fxFlex [hidden]="dish">
     <mat-spinner></mat-spinner><h4>Loading...Please wait</h4>
   </div>
    

</div>
